.head-cover {
	position: fixed;
	top: 0;
	left: 0;

}
.logo {
	display: inline-block;
	vertical-align: middle;
	width: 141px;
	margin-left: 140px;
}

.navigation {
	display: inline-block;
	vertical-align: middle
	margin-left: 116px;

}
.nav-li {
	display: inline-block;
	margin-left: 80px;
	font-style: 16px;
}

.head-picture {
	position: relative;
	width: 1680px;
	

}

.picture1 {
	width: 100%;
	margin-top: 121px;

}
.text-image1 {
	position: absolute;
	width: 306px;
	height: 31px;
	bottom: 246px; 
	left: 647px;
	top: 230px;
	color: #FFFFFF;
	font-size: 22px;


}
.text-image2 {
	position: absolute;
	width: 200px;
	height: 64px;
	top: 260px;
	left: 700px;
	font-size: 48px;
	color: #FFFFFF;

}
.title1 {
	margin-top: 84px;
	margin-left: 172px;
}
.section1 {
	width: 1700px;
	margin-top: 81px;
	display: inline-block;


}
.image1 {
	vertical-align: top;
	width: 636px;
	height: 426px;
	margin-left: 136px;
	margin-right: 52px;

}

.text1 {
	display: inline-block;
	vertical-align: middle;

} 
.image-text-1 {
	display: inline-block;
	width: 563px;
	height: 94px;
	font-size: 36px;
    margin-top: 20px;
    margin-left: 136px;
    vertical-align: middle;

}
.image-text-1-1 {
	display: inline-block;
	width: 563px;
	height: 94px;
	font-size: 36px;
	margin-top: 20px;
	margin-left: 180px;
	vertical-align: middle;

}
.image2 {
	vertical-align: top;
	width: 636px;
	height: 426px;
	margin-right: 136px;
	margin-left: 52px;
	display: inline-block;

}

.image-text-2 {
	display: inline-block;
	width: 600px; 
	height: 81px;
	font-size: 16px;
	margin-top:22px ;
	margin-left: 138px;

} 

.image-text-2-2 {
	display: inline-block;
	width: 600px;
	height: 81px;
	font-size: 16px;
	margin-top: 22px;
	margin-left: 150px;
}

.orange1 {
	display: inline-block;
}

	

.read-orange-1 {
	display: inline-block;
	width: 79px;
	height: 20px;
	vertical-align: middle;
	color: #FF7A00;
	margin-top: 13px;
	margin-left: 136px;

}
.box {
	display: inline-block;
	vertical-align: middle;
	width: 47px;
	height: 10px;
	margin-top: 13px;
	margin-left: 18px;
	background-color: #FF7A00 ;
	font-size: 14px;

}
.read-orange-2 {
	display: inline-block;
	vertical-align: middle;
	width: 79px;
	height: 20px;
	color: #FF7A00;
	margin-top: 13px;
	margin-left: 600px;



}
.second-orange {
	display: inline-block;
}

.box1 {
	display: inline-block;
	vertical-align: middle;
	width: 47px;
	height: 10px;
	margin-top: 13px;
	margin-left: 18px;
	background-color: #FF7A00;
	font-size: 14px;


}

.image3{
	vertical-align: top;
	width: 636px;
	height: 426px;
	margin-top: 64px;
	margin-right: 52px;
	margin-left: 136px;



}

.image4 {
	vertical-align: top;
	width: 636px;
	height: 426px;
	margin-top: 64px;
	margin-right: 136px;
	margin-left: 52px;
	display: inline-block;


}
.box-wrapper {
	position: relative;
	width: 200px;
	height: 70px;
	top: 66px;
	left: 705px;
	font-size: 14px;
	color: white;
	background-color: #FF7A00;
}

.text-final {
	position: absolute;
	width: 94px;
	height: 23px;
	top: 30px ;
	left: 53px;
	
}









